<!DOCTYPE html>
<html lang="en">
<head>
  {% include '../partials/head.html' %}
</head>
<body>
  <span class="color-red"></span>

  <div class="image-placeholder image-placeholder__wrapper">
    <div class="image-placeholder__container">
      <img src="" alt="" class="image-placeholder__image">
    </div>
  </div>

  <div class="container">
    <div class="title color-red">
      <h1></h1>
    </div>
    <div class="title">
      <h1></h1>
    </div>
    <div class="title">
      <h1></h1>
    </div>
    <div class="title">
      <h1></h1>
    </div>
  </div>
</body>
</html>