<!DOCTYPE html>
<html lang="en">

<head>
  {% include '../partials/head.html' %}
</head>

<body>

  {% include '../partials/header.html' %}
  {% include '../partials/main-part.html' %}
  {% include '../partials/what-is-vinsent.html' %}
  {% include '../partials/footer.html' %}
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script src="jquery.sticky.js"></script>
  <script src="js/index.min.js"></script>
</body>

</html>