<div class="footer-cont">
    <div class="footer-cont__vinsent-column">
        <div class="vinsent-img-cont">
            <img class="vinsent-img" src="images/vinsent.png" alt="vinsent">
        </div>
        <span class="vinsent-text font-white">
            Vinsent is a marketplace for wine lovers to <br>buy wine futures directly from boutique <br>wineries and to connect directly with them.
        </span>
    </div>
    <div class="footer-cont__social-network">
        <div class="social-network-cont cursor">
            <img src="images/facebook.svg" alt="facebook" class="network-img">
        </div>
        <div class="social-network-cont cursor">
            <img src="images/twitter.svg" alt="twitter" class="network-img">
        </div>
        <div class="social-network-cont cursor">
            <img src="images/linkedin.svg" alt="linkedin" class="network-img">
        </div>
        <div class="social-network-cont cursor">
            <img src="images/Path.svg" alt="whatsapp" class="network-img">
        </div>    
    </div>
    <div class="footer-cont__main-tabs">
        <div class="tabs">
            <span class="tabs-text vinsent-text font-white cursor">
                About Vinsent
            </span>
        </div>
        <div class="tabs">
            <span class="tabs-text vinsent-text font-white cursor">
                Contact Us
            </span>
        </div>
        <div class="tabs">
            <span class="tabs-text vinsent-text font-white cursor">
                Terms of use
            </span>
        </div>
        <div class="tabs">
            <span class="tabs-text vinsent-text font-white cursor">
                Privacy Policy
            </span>
        </div>
        <div class="tabs">
            <span class="tabs-text vinsent-text font-white cursor">
                FAQs
            </span>
        </div>
    </div>
    <div class="footer-cont__main-tabs">
        <div class="tabs">
            <span class="tabs-text vinsent-text font-white cursor">
                Explore Wines
            </span>
        </div>
        <div class="tabs">
            <span class="tabs-text vinsent-text font-white cursor">
                Media Kit
            </span>
        </div>
        <div class="tabs">
            <span class="tabs-text vinsent-text font-white cursor">
                Blog
            </span>
        </div>
        <div class="tabs">
            <span class="tabs-text  font-white cursor">
                Buy in: USD  | <span class="tabs-text-bold cursor">  Change</span>
            </span>
        </div>
    </div>
</div>
<div class="payment">
    <div class="payment-text-cont">
        <span class="tabs-text font-white">
            © Powered by Vinsent.wine 
        </span>
    </div>
    <div class="payment-img-cont">
        <img src="images/payment.png" alt="payment" class="payment-img">
    </div>
</div>