<div class="header-cont">
    <img class="header-img" src="images/header.png" alt="">
    <div class="menu">
        <div class="menu__left-menu">
            <div class="menu__burger">
                <div class="burger">
                    <img src="images/burger.svg" alt="" class="burger-img">
                </div>
            </div>
            <div class="menu__vinsent-img">
                <img class="vinsent" src="" alt="vinsent">
            </div>
            <div class="menu__tab-home">
                <span class="home">Home</span>
            </div>
            <div class="menu__tab-explore-wines">
                <span class="explore-wines fonts-tab">Explore wines</span>
            </div>
            <div class="menu__tab-about">
                <span class="about fonts-tab">About</span>
            </div>
            <div class="menu__tab-faq">
                <span class="faq fonts-tab">FAQ's</span>
            </div>
        </div>
        <div class="menu__right-menu">
            <div class="menu__support-numb">
                <span class="support">Support: 1888-800-0670</span>
            </div>
            <div class="menu__search-img">
                <img src="images/search.png" alt="search" class="search">
            </div>
            <div class="menu__button-cont">
                <button class="button">Login</button>
            </div>
        </div>
    </div>
</div>