<div class="main">
    <div class="left-column">
        <div class="left-column__bottle">
            <img src="images/bottle.png" alt="bottle of wine" class="bottle">
            <img src="images/save.png" alt="save" class="save-img">
        </div>
        <div class="left-column__description">
            <div class="items-description flag">
                <div class="img-description-cont">
                    <img src="images/flag.png" alt="flag of Italy" class="flag img-description">
                </div>
                <span class="text-regular font-black"><span class="text-bold font-black">Region:</span><br> Chianti,
                    Tuscany, Italy</span>
            </div>
            <div class="items-description score">
                <div class="img-description-cont">
                    <img src="images/score.png" alt="score" class="score img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Vinous Antonio Galloni score:</span><br>
                    93/100</span>
            </div>
            <div class="items-description blend">
                <div class="img-description-cont">
                    <img src="images/blend.png" alt="Grape" class="blend img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Grape/Blend:</span><br> Sangiovese</span>
            </div>
            <div class="items-description alcohol">
                <div class="img-description-cont">
                    <img src="images/alcohol.png" alt="Grape" class="alcohol img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Expected Alcohol Content:</span><br> 14%</span>
            </div>
            <div class="items-description food">
                <div class="img-description-cont">
                    <img src="images/food.png" alt="Grape" class="food img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Food Suggestion:</span><br> Lamb</span>
            </div>
            <div class="items-description car">
                <div class="img-description-cont">
                    <img src="images/car.png" alt="Grape" class="car img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Shipping:</span><br> September 1, 2021<br>Free world
                    wide shipping</span>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="right-column__basic">
            <div class="logo-cont">
                <img src="images/logo-montefili.png" alt="logo" class="logo-img">
                <p class="logo-text font-white">Vecchie Terre di Montefili</p>
            </div>
            <p class="wine-name-text font-white">Chianti Classico Riserva<br> DOCG 2018</p>
            <div class="data-cont">
                <span class="data repetitive-styles font-white">Ships September 1, 2021</span><span class="
                volume repetitive-styles font-white">Case of 6 bottles (750ml)</span>
            </div>
        </div>
        <div class="right-column__number-cont">
            <span class="case font-black">Number of cases</span>
            <img src="images/minus.svg" alt="minus" class="minus">
            <span class="one font-black">1</span>
            <img src="images/plus.svg" alt="plus" class="plus">
        </div>
        <div class="right-column__price">
            <span class="price font-black">$265</span>
            <span class="price-of-bottle font-black">$44/bottle</span>
        </div>
        <div class="right-column__save-price-cont">
            <span class="save-price">Save 27%</span>
            <span class="release-price font-black">release price <span class="release-price font-black text-line-through
                ">$337</span></span>
            <img src="images/question.svg" alt="question" class="question-img">
        </div>
        <div class="right-column__order-cont">
            <div class="order font-white">Order now</div>
            <div class="arrow-cont ">
                <img src="images/arrow.svg" alt="arrow" class="arrow-img">
            </div>
        </div>
        <div class="right-column__cases-cont">
            <span class="cases-normal font-black"><span class="cases-bold font-black">Only 54</span>/300 cases
                left!</span>
        </div>
        <div class="right-column__cases-scale-cont">
            <div class="progress-scale"></div>
        </div>
        <div class="right-column__about-wine-cont">
            <div class="background-Rectangle"></div>
            <span class="about-wine font-black">ABOUT THE WINE</span>
        </div>
        <div class="right-column__about-wine-text-cont">
            <span class="about-wine-text font-black">A premium Chianti Classico Riserva made from selected vines planted
                at 500m next to our hilltop near Panzano, Tuscany. This wine is made from selected Sangiovese vines
                planted between 1989 and 1992, managed by guyot.</span>
        </div>
        <div class="right-column__boxes">
            <span class="boxes">Sangiovese</span>
            <span class="boxes">Red</span>
            <span class="boxes">Sustainably Made</span>
            <span class="boxes">2018</span>
            <span class="boxes">Vecchie Terre Di Montefili</span>
            <span class="boxes">Italy</span>
        </div>
        <div class="right-column__video">
            <iframe width="706" height="357" src="https://www.youtube.com/embed/Vt8izJT531k?start=15" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="right-column__about-wine-cont">
            <div class="background-Rectangle-winemaker"></div>
            <span class="about-wine font-black">WINEMAKER NOTES</span>
        </div>
        <div class="right-column__user">
            <img src="images/SerenaGusmeri.png" alt="Serena-Gusmeri" class="user-img">
            <span class="user font-black">by Serena Gusmeri</span>
        </div>
        <div class="right-column__about-wine-text-cont">
            <span class="about-wine-text font-black">The Chianti Classico Riserva is made from selected Sangiovese vines
                planted between 1989 and 1992, managed by guyot. There is a generous spicy note to the fruit that comes
                through from this plot of land, with great potential for integrated tannins. To enhance and enrich the
                natural structure for the 2018 vintage, we experimented with the refinement, moving between barrels of
                30hl and 20hl. The aging in wood will continue for around 22 months followed by at least 6 in the bottle
                to give that extra depth of flavour.</span>
        </div>
        <div class="right-column__about-wine-cont">
            <div class="background-Rectangle-taste"></div>
            <span class="about-wine font-black">TASTE</span>
        </div>
        <div class="right-column__body-scale-cont">
            <div class="body-structure">
                <span class="body font-black">Body</span>
                <span class="body-evaluation font-black">4/5</span>
            </div>
            <div class="body-scale right-column__cases-scale-cont">
                <div class="body-progress-scale progress-scale"></div>
            </div>
            <div class="body-structure">
                <span class="body font-black">Fruitiness</span>
                <span class="body-evaluation font-black">4/5</span>
            </div>
            <div class="body-scale right-column__cases-scale-cont">
                <div class="body-progress-scale progress-scale"></div>
            </div>
            <div class="body-structure">
                <span class="body font-black">Acidity</span>
                <span class="body-evaluation font-black">4/5</span>
            </div>
            <div class="body-scale right-column__cases-scale-cont">
                <div class="body-progress-scale progress-scale"></div>
            </div>
        </div>
        <div class="right-column__about-wine-cont">
            <div class="background-Rectangle-critic"></div>
            <span class="about-wine font-black">Critic Reviews</span>
        </div>
        <div class="right-column__critic-cont">
            <div class="critic-description">
                <div class="critic-img">
                    <img src="images/score93.svg" alt="flag of Italy" class="">
                </div> 
                <div class="critic--text">
                    <span class="vintage font-black">2009 Vintage<span class="wine-name font-black"><br>Vinous Antonio Galloni<span class="tasted font-black"><br>Tasted: 1-Aug-2013</span></span></span>
                </div>      
            </div>
            <div class="critic-description">
                <div class="critic-img">
                    <img src="images/score92.svg" alt="flag of Italy" class="">
                </div> 
                <div class="critic--text">
                    <span class="vintage font-black">2007 Vintage<span class="wine-name font-black"><br>Falstaff Magazin<span class="tasted font-black"><br>Tasted: 10-Feb-2012</span></span></span>
                </div>      
            </div>
            <div class="critic-description">
                <div class="critic-img">
                    <img src="images/score93.svg" alt="flag of Italy" class="">
                </div> 
                <div class="critic--text">
                    <span class="vintage font-black">2006 Vintage<span class="wine-name font-black"><br>Wine Spectator<span class="tasted font-black"><br>Tasted: 30-Sep-2010</span></span></span>
                </div>      
            </div>
        </div>
    </div>
</div>
