<div class="main">
    <div class="left-column">
        <div class="left-column__bottle">
            <img src="images/bottle.png" alt="bottle of wine" class="bottle">
            <img src="images/save.png" alt="save" class="save-img">
        </div>
        <div class="left-column__description">
            <div class="items-description flag">
                <div class="img-description-cont">
                    <img src="images/flag.png" alt="flag of Italy" class="flag img-description">
                </div>
                <span class="text-regular font-black"><span class="text-bold font-black">Region:</span><br> Chianti, Tuscany, Italy</span>
            </div>
            <div class="items-description score">
                <div class="img-description-cont">
                    <img src="images/score.png" alt="score" class="score img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Vinous Antonio Galloni score:</span><br>
                    93/100</span>
            </div>
            <div class="items-description blend">
                <div class="img-description-cont">
                    <img src="images/blend.png" alt="Grape" class="blend img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Grape/Blend:</span><br> Sangiovese</span>
            </div>
            <div class="items-description alcohol">
                <div class="img-description-cont">
                    <img src="images/alcohol.png" alt="Grape" class="alcohol img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Expected Alcohol Content:</span><br> 14%</span>
            </div>
            <div class="items-description food">
                <div class="img-description-cont">
                    <img src="images/food.png" alt="Grape" class="food img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Food Suggestion:</span><br> Lamb</span>
            </div>
            <div class="items-description car">
                <div class="img-description-cont">
                    <img src="images/car.png" alt="Grape" class="car img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Shipping:</span><br> September 1, 2021<br>Free world
                    wide shipping</span>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="right-column__basic">
            <div class="logo-cont">
                <img src="images/logo-montefili.png" alt="logo" class="logo-img">
                <p class="logo-text font-white">Vecchie Terre di Montefili</p>
            </div>
            <p class="wine-name-text font-white">Chianti Classico Riserva<br> DOCG 2018</p>
            <div class="data-cont">
                <span class="data repetitive-styles font-white">Ships September 1, 2021</span><span class="
                volume repetitive-styles font-white">Case of 6 bottles (750ml)</span>
            </div>
        </div>
        <div class="right-column__number-cont">
            <span class="case font-black">Number of cases</span>
            <img src="images/minus.svg" alt="minus" class="minus">
            <span class="one font-black">1</span>
            <img src="images/plus.svg" alt="plus" class="plus">
        </div>
        <div class="right-column__price">
            <span class="price font-black">$265</span>
            <span class="price-of-bottle font-black">$44/bottle</span>
        </div>
        <div class="right-column__save-price-cont">
            <span class="save-price">Save 27%</span>
            <span class="release-price font-black">release price <span class="release-price font-black text-line-through
                ">$337</span></span>
            <img src="images/question.svg" alt="question" class="question-img">
        </div>
        <div class="right-column__order-cont">
            <div class="order font-white">Order now</div>
            <div class="arrow-cont ">
                <img src="images/arrow.svg" alt="arrow" class="arrow-img">
            </div>
        </div>
    </div>
</div>