<div class="main">
    <div class="left-column">
        <div class="left-column__bottle">
            <img src="images/bottle.png" alt="bottle of wine" class="bottle">
            <img src="images/save.png" alt="save" class="save">
        </div>
        <div class="left-column__description">
            <div class="items-description flag">
                <div class="img-description-cont">
                    <img src="images/flag.png" alt="flag of Italy" class="flag img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Region:</span><br> Chianti, Tuscany, Italy</span>
            </div>
            <div class="items-description score">
                <div class="img-description-cont">
                    <img src="images/score.png" alt="score" class="score img-description">
                </div>               
                <span class="text-regular"><span class="text-bold">Vinous Antonio Galloni score:</span><br>
                    93/100</span>
            </div>
            <div class="items-description blend">
                <div class="img-description-cont">
                    <img src="images/blend.png" alt="Grape" class="blend img-description">
                </div>     
                <span class="text-regular"><span class="text-bold">Grape/Blend:</span><br> Sangiovese</span>
            </div>
            <div class="items-description alcohol">
                <div class="img-description-cont">
                    <img src="images/alcohol.png" alt="Grape" class="alcohol img-description">
                </div>
                <span class="text-regular"><span class="text-bold">Expected Alcohol Content:</span><br> 14%</span>
            </div>
            <div class="items-description food">
                <div class="img-description-cont">
                    <img src="images/food.png" alt="Grape" class="food img-description">
                </div> 
                <span class="text-regular"><span class="text-bold">Food Suggestion:</span><br> Lamb</span>
            </div>
            <div class="items-description car">
                <div class="img-description-cont">
                    <img src="images/car.png" alt="Grape" class="car img-description">
                </div>   
                <span class="text-regular"><span class="text-bold">Shipping:</span><br> September 1, 2021<br>Free world
                    wide shipping</span>
            </div>
        </div>
    </div>
    <!-- <div class="img-description-cont"></div>  -->





    <div class="main__right"></div>
</div>