<div class="vinsent-cont">
    <div class="vinsent-left-column">
        <div class="vinsent-left-column__vinsent-title right-column__about-wine-cont">
            <div class="background-Rectangle-VINSENT"></div>
            <span class="about-wine font-black">WHAT IS VINSENT</span>
        </div>
        <div class="vinsent-left-column__vinsent-video">
            <iframe width="706" height="399" src="https://www.youtube.com/embed/WL0f4Swzd1A" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="vinsent-left-column__vinsent-review">
            <div class="vinsent-arrows-cont">
                <img src="images/vinsentArrowLeft.svg" alt="" class="vinsent-arrows">
            </div>
            <div class="vinsent-reviewer-cont">
                <div class="">
                    <img src="images/vinsentReviewer.png" alt="reviewer" class="user-img">
                </div>
                <span class="about-wine-text font-black">Highly recommended to anyone who wants<br> more than just buying wine. Love the simplicity<br> of using the app and reaching the right content<span class="tasted"><br>Lior Y. Tel Aviv</span></span>              
            </div>
            <div class="vinsent-arrows-cont">
                <img src="images/vinsentArrowRight.svg" alt="" class="vinsent-arrows">
            </div>
        </div>
    </div>

</div>