<div class="vinsent-cont">
    <div class="vinsent-left-column">
        <div class="vinsent-left-column__vinsent-title right-column__about-wine-cont">
            <div class="background-Rectangle-VINSENT background-Rectangle-const"></div>
            <span class="about-wine  about-wine-vinsent font-black">WHAT IS VINSENT</span>
        </div>
        <div class="vinsent-left-column__vinsent-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/WL0f4Swzd1A" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="vinsent-left-column__vinsent-review">
            <!-- <div class="vinsent-arrows-cont">
                <img src="images/vinsentArrowLeft.svg" alt="" class="vinsent-arrows">
            </div> -->
            <div class="vinsent-reviewer-cont">
                <div class="vinsent-reviewer-img">
                    <img src="images/vinsentReviewer.png" alt="reviewer" class="user-img">
                </div>
                <span class="revier-text font-black">Highly recommended to anyone who wants<br> more than just
                    buying wine. Love the simplicity<br> of using the app and reaching the right content<span
                        class="tasted"><br>Lior Y. Tel Aviv</span></span>
            </div>
            <div class="vinsent-reviewer-cont">
                <div class="vinsent-reviewer-img">
                    <img src="images/vinsentReviewer.png" alt="reviewer" class="user-img">
                </div>
                <span class="revier-text font-black">Highly recommended to anyone who wants<br> more than just
                    buying wine. Love the simplicity<br> of using the app and reaching the right content<span
                        class="tasted"><br>Lior Y. Tel Aviv</span></span>
            </div>
            <div class="vinsent-reviewer-cont">
                <div class="vinsent-reviewer-img">
                    <img src="images/vinsentReviewer.png" alt="reviewer" class="user-img">
                </div>
                <span class="revier-text font-black">Highly recommended to anyone who wants<br> more than just
                    buying wine. Love the simplicity<br> of using the app and reaching the right content<span
                        class="tasted"><br>Lior Y. Tel Aviv</span></span>
            </div>
            <!-- <div class="vinsent-arrows-cont">
                <img src="images/vinsentArrowRight.svg" alt="" class="vinsent-arrows">
            </div> -->
        </div>
    </div>
    <div class="vinsent-right-column">
        <div class="vinsent-right-column__journal">
            <div class="journal-img-cont">
                <img src="images/tc.png" alt="tc" class="journal-img">
            </div>
            <span class="journal-text font-black">Vinsent is bringing consumers in direct contact with producers early in the
                wine-making cycle</span>
        </div>
        <div class="vinsent-right-column__journal">
            <div class="journal-img-cont">
                <img src="images/forbes.png" alt="tc" class="journal-img">
            </div>
            <span class="journal-text font-black">Vinsent Combines Traditional Wine Buying Model With Blockchain Technology
                To Bring Consumers Closer To Wine</span>
        </div>
        <div class="vinsent-right-column__journal-ctech">
            <div class="journal-img-cont">
                <img src="images/ctech.png" alt="tc" class="journal-img">
            </div>
            <span class="journal-text font-black">Vinsent Aims to Democratize the Centuries-Old Tradition of Trading in Wine Futures</span>
        </div>
    </div>
</div>