@font-face {
    font-family: 'AbrilFatfaceRegular';
    src: url('fonts/AbrilFatface-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'BrandonTextRegular';
    src: url('fonts/BrandonText-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'BrandonTextBold';
    src: url('fonts/BrandonText-Bold.otf');
    font-style: normal;
    font-weight: normal;
}