.header-img-cont {
    height: 471px;
    width: 1920px;
    overflow:hidden;
    position: relative;
}

.header-img {
    position: absolute;
    z-index: -1;
    margin: -271px 0px 0px;

}
// .sps {
//     background: linear-gradient(180deg, rgba(0,0,0,0.42) 0%, rgba(0,0,0,0.41) 56.69%, rgba(0,0,0,0.79) 100%);
//     position: absolute;
//     z-index: 0;
// } 
.top-menu {
    height: 84px;
    width: 1920px;
    background-color: red;
    position: absolute;
    z-index: 1;
}