.main {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 148px 366px 0 366px;
}

.left-column {
    &__bottle {
        position: relative;
    }

    &__description {
        display: flex;
        flex-direction: column;
        margin-top: 52px;
    }
}

.save-img {
    position: absolute;
    top: 255px;
    left: 117px;
}

.img-description-cont {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.items-description {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.text-bold {
    color: #000000;
    font-family: "BrandonTextBold";
    font-size: 16px;
    font-weight: bold;
}

.text-regular {
    color: #000000;
    font-family: "BrandonTextRegular";
    font-size: 16px;
    line-height: 22px;
}

.right-column {
    width: 706px;

    &__basic {
        display: flex;
        flex-direction: column;
        padding-top: 65px;
    }

    &__number-cont {
        display: flex;
        align-items: center;
    }
}

.logo-cont {
    display: flex;
}

.data-cont {
    display: flex;
    margin-top: 20px;
    margin-bottom: 47px;
}

.logo-img {
    height: 36px;
    width: 36px;
    margin-right: 16px;
}

.logo-text {
    color: #FFFFFF;
    font-family: "BrandonTextRegular";
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}

.wine-name-text {
    color: #FFFFFF;
    font-family: "BrandonTextRegular";
    font-size: 50px;
    font-weight: bold;
    line-height: 64px
}

.data {
    font-weight: bold;
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;

}

.repetitive-styles {
    color: #FFFFFF;
    font-family: "BrandonTextRegular";
    font-size: 19.5px;
    line-height: 27px;
}

.one {
    color: #000000;
    font-family: "BrandonTextRegular";
    font-size: 41.6px;
    font-weight: bold;
    line-height: 57px;
    margin: 16px;
}

.case {
    color: #000000;
    font-family: "BrandonTextRegular";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.67px;
    line-height: 27px;
    margin-right: 60px;
}

.price {
    color: #000000;
    font-family: "BrandonTextRegular";
    font-size: 26px;
    letter-spacing: 0;
    line-height: 36px;
    margin-right: 8px;
}

.price-of-bottle {
    opacity: 0.5;
    color: #000000;
    font-family: "BrandonTextRegular";
    font-size: 20px;
    letter-spacing: -0.46px;
    line-height: 27px;
}